
.ff {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
}

.thai {
  font-family: "Sarabun", sans-serif;
  font-style: normal;
}

.white {
  color: white;
}

/* Font size */

.fs-link {
    font-size: 1.25rem;
}

.fs-header1 {
    font-size: 3.75rem;
}
.fs-header2 {
    font-size: 1.875rem;
}

.fs-normal {
    font-size: 1.25rem;
}

.fs-small {
    font-size: 1.125rem;
}

/* Font weight */

.fw-300 {
    font-weight: 300;
  
  }
  
  .fw-400 {
    font-weight: 400;
  }
  
  .fw-500 {
    font-weight: 500;
  }
  
  .fw-600 {
    font-weight: 600;
  }
  
  .fw-700 {
    font-weight: 700;
  }
  
  .fw-800 {
    font-weight: 800;
  }